mixin icon(iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`./images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
  img(src=`./images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin iconLink(iconLink, iconName, iconClass)
  a(href=`${iconLink}` target="_blank" title=`${iconClass}`)
    svg(class=`${iconClass}`)
      use(xlink:href=`./images/icons/sprite.svg#${iconName}`)

mixin socials(mod)
  div(class="socials socials__"+mod)
    +iconLink( vkLink, "vk_round", `${mod}`+"__vk")
    +iconLink( githubLink,"github_round", `${mod}`+"__github")
    +iconLink( inLink, "in_round", `${mod}`+"__in")

